body {
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    width:100%;
    margin:auto;
    border:2px solid red;
    text-align: center;
    font-size: 2.0em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main {
    display: flex;
    flex-direction: column;
    height:70vh;
    width: 80%;
    margin: auto;
    margin-top:5%;
   
}

#display {
    border: 2px solid red;
    margin-bottom:0;
    height:10%;
    padding:1%;
}

#display p {
    text-align: right ;
    font-size: 1.5em;
}

#calculator {
    

}

.openCloseOperations {
    display: block;
    padding:0;
    border:0;
    width:100%;
    margin: auto;
    margin-top: 5%;
    text-align:center;
}


.operations {
    text-align: center;
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap:2em;
    padding: 2em;
}


.operations div {
    border: 2px solid blue;
}

.numbers {
    margin-top:5%;
    text-align: center;
    display:grid;
    grid-template-columns: auto auto auto;
    gap:2em;
    padding: 2em;
    border: 2px solid green;

}

.numbers div {
    border: 2px solid blue;
}

footer {
    border: 2px solid grey;
    width:80%;
    margin:auto;
    
}

.result {
    height: 2em;
    overflow: scroll;
}