body {
    background-color: #595260;
    color:#FFD523;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#content {
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items:center;
    
}

#title {
    text-align: center;
}

#apps_list {
    display:flex;
    flex-direction: column;
    width:75%;
    margin:auto;
    padding:2em;
    overflow: scroll;

}

.app_item {
    text-align: center;
    border:2px solid grey;
    min-height: fit-content;
    min-width: fit-content;
    margin-top: 25%;
}   

.app_item :hover {
    color: #FFD523;
}

@media (min-width: 750px) {
    #apps_list {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    width:75%;
    margin:auto;
    padding:2em;
    overflow-y:hidden ;
    overflow-x: hidden;
   
    }
    .app_item {
    text-align: center;
    border:2px solid grey;
    min-height: fit-content;
    min-width: fit-content;
    margin: 15%;
}
}