body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../public/yellowImage.png');
  
}

#app-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height:100vh;
}



#app {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
    height: 150%;
}


.item {
 
    border-radius: 2em;
    min-height: 25%;
    max-height: 25%;
    padding:1em;
    text-align: center;
    background-color: #F4F754;
    /* transition: background-color 0.5s ease; */
}


.itemTitle {
 display: block;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.itemTitleOff {
 display: none;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.itemDescription {
    display: none;
    font-size: small;
}

.itemDescriptionOn {
    display: block;
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}




@media (min-width: 800px) {
    body {
        transition: background-image 0.5s ease-out;
    }
      #app-container {
        
    }
    
    #app {
        flex-direction: row;
        height:100vh;
        justify-content: space-around;
    }

    .item {
        min-width: 25%;
        max-height: none;
        max-width: 25%;
    }

    .itemTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }  

    .itemDescriptionOn {
        display: flex;
        flex-direction: column;
        height:100%;
        justify-content: center;
    }
}