

body {
  background-color: #2C2E43;
}

#app-container {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
} 


#software_list {
  display:none;  
  flex-direction:row;
  justify-content:space-between; 
  text-align:center;
  
} 

#software_list div {
  text-align:center;
  border: 2px solid black;
  padding:10px;
}

#app {
  border: 2px solid black;
  padding:2em;
  width:fit-content;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 2%;
  transition: all 5.5s ease;
}

.item {
  padding:2em;
  border:2px solid black;
  display:block;
}

.itemTitle {
  text-align:center;
  color:#FFD523;
  
}



.itemDescription {
  display:none;
}

@media  (min-width: 700px){
  #app {
    width: 80%;
  }
}