body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../public/BackgroundMain.jpg');

}

#app-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height:100vh;
}



#app {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
    height: 150%;
}


.item {
 
    border-radius: 2em;
    min-height: 25%;
    max-height: 25%;
    padding:1em;
    text-align: center;
    background-color: #F4F754;
    /* transition: background-color 0.5s ease; */
}


.itemTitle {
 display: block;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.itemTitleOff {
 display: none;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.itemDescription {
    display: none;
    font-size: small;
}

.itemDescriptionOn {
    display: block;
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/*Applications list CSS*/

#content {
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items:center;
    
}

#title {
    text-align: center;
}

#apps_list {
    display:flex;
    flex-direction: column;
    width:75%;
    margin:auto;
    padding:2em;
    overflow: scroll;

}

.app_item {
    text-align: center;
    border:2px solid grey;
    min-height: fit-content;
    min-width: fit-content;
    margin-top: 25%;
}   

.app_item :hover {
    color: #FFD523;
}

/*Applications list CSS*/

@media (min-width: 800px) {
    body {
        transition: background-image 0.5s ease-out;
        background-size: 100% 100%;
    }
      #app-container {
        display:block;
        margin: auto;
    }
    
    #app {
        flex-direction: row;
        height:20vh;
        justify-content: space-around;
        max-width: 80%;
        min-width: 80%;
        margin: auto;
    }

    .item {
        min-width: 30%;
        max-height: none;
        max-width: 30%;
    }

    .itemTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }  

    .itemDescriptionOn {
        display: flex;
        flex-direction: column;
        height:100%;
        justify-content: center;
        max-width: 100%;
        font-size: medium;
    }
 /*Applications list CSS*/
     #apps_list {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    width:75%;
    margin:auto;
    padding:2em;
    overflow-y:hidden ;
    overflow-x: hidden;
   
    }
    .app_item {
    text-align: center;
    border:2px solid grey;
    min-height: 25%;
    min-width: 25%;
    margin: 15%;
}
/*Applications list CSS*/

}