body {
    margin:0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(23, 35, 66);
}

a {
    text-decoration: none;
    color: black;
}




#app-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height:100vh;
    width: 100%;
}



#app {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
    height: 150%;
}


.item {
 
    border-radius: 2em;
    min-height: 25%;
    max-height: 25%;
    padding:1em;
    text-align: center;
    background-color: #caab21;
    /* transition: background-color 0.5s ease; */
}


.itemTitle {
 display: block;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.itemTitleOff {
 display: none;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.itemDescription {
    display: none;
    font-size: small;
}

.itemDescriptionOn {
    display: block;
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

  #welcome_parent {
        display:none;
        border:2px solid red;;
    }

/*Applications list CSS*/

#content {
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items:center;
    
}

#title {
    text-align: center;
}

#apps_list {
    display:flex;
    flex-direction: column;
    width:90%;
    height:100vh;
    padding:2em;
    overflow: scroll;

}

.app_item {
    text-align: center;
    background-color: rgba(216, 167, 41);
    border-radius: 25px ;
    min-height: fit-content;
    min-width: fit-content;
    margin-top: 5%;
}   



/*Applications list CSS*/

@media (max-width: 800px) {
    *{ animation: none !important;
    transition: none !important;}

  
}

@media (min-width: 800px) {
    body {
        background-image: url('../public/BackgroundMain.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: background-image 0.5s ease-out;
    }
      #app-container {
        display:block;
        margin: auto;
    }
    
    #app {
        flex-direction: row;
        height:20vh;
        justify-content: space-around;
        max-width: 100%;
        min-width: 80%;
        margin: auto;
        font-size: 0.5em;
    }

    .item {
        min-width: 30%;
        max-height: none;
        max-width: 30%;
    }

    .itemTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }  

    .itemDescriptionOn {
        display: flex;
        flex-direction: column;
        height:100%;
        justify-content: center;
        max-width: 100%;
        font-size: medium;
    }

    #welcome_parent {
        width: 75%;
        text-align: center;
        border: 2px solid #33ab28;
        border-radius: 95px;
        background-color: #176310;
        color:#f5f905f4;
        padding: 2em;
        display: flex;
        flex-direction: column;
        height: 50vh;
        margin: auto;
        animation: myAnimation 0.5s linear 0.1s 1 normal 
    }
 /*Applications list CSS*/
     #apps_list {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    width:90%;
    height:auto;
    margin:auto;
    padding:2em;
    overflow-y:hidden ;
    overflow-x: hidden;
        
    }
    .app_item {
    text-align: center;
    margin:15%;
    min-height: 25%;
    min-width: 25%;
    transition:  transform 0.2s ease-in, background-color 0.2s ease-in, margin-top 0.2s ease-in-out;
    animation: myAnimation 0.5s linear 0.1s 1 normal ;
    font-size: medium;
    }  

    .app_item {
        margin-top: 2px;
    }
    .app_item:hover {
        color: #000;
        background-color: rgba(216, 167, 41, 0.5);
        transform: scale(1.25);
    }
/*Applications list CSS*/

}


@media (min-width:1200px) {
    
}


@keyframes myAnimation {
  from {margin-top: 5%;}
  to {margin-top: 0;}
}